<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 2%;
            text-align: center;
            color: whitesmoke;
            background-color: black;
        }
        h4{
            margin-bottom: 2%;
        }
    </style>
</head>
<body>
    {% if ayatHtml %}
    <h2> {{ayatHtml}} </h4>
    <h4>{{surahNameHtml}}</h6>
    {% else %}
    <h2>Error in fetching the API</h2>
</body>
</html>